.settings
.settings/*
.settings/**
.settings/***
.classpath
.project
../.classpath
../.settings
../.settings
./.settings
./.classpath
./.project
target
Servers
Servers/*
Servers/**
Servers/**/*
*/bin
*.ipr
*.iml
*.iws
.idea
*target*
*.jar
*.war
*.ear
*.class
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
log/
target/
.externalToolBuilders/
*.launch
log.roo
application.log*
src/main/java/com/qualeesys/generated/*
src/generated/*
upload/*
